@media screen and (min-width: 900px) {
  @font-face {
    font-family: 'Signatera';
    src: url('font/Richard\ Signatera.ttf') format('truetype');
  }

  @font-face {
    font-family: 'blueberry';
    src: url('font/Blueberry\ Days.ttf') format('truetype');
  }

  body {
    background-image: url("images/background.png");
    background-size: 100%;
  }

  .selected {
    background-color: rgb(50, 167, 145);
    color: white;
    cursor: pointer;
  }

  #cabecalho {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.24);
  }

  #rodape a {
    background-color: rgba(50, 167, 146, 0.678);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 15px;
    width: 100%;
    height: 45px;
    padding-top: 10px;
    position: static;
    bottom: 0;
    left: 0;
    position: relative;
  }

  .completed {
    text-decoration: line-through;
  }

  .container-fluid,
  #cabecalho,
  #navbar {
    background-color: rgb(247, 247, 247);
  }

  #title {
    margin-left: 10px;
    font-size: 35px;
    color: rgb(50, 167, 145);
    font-family: 'Signatera', Arial, sans-serif;
    display: inline;
  }

  #texto-tarefa {
    margin-top: 20px;
    max-width: 300px;
    height: 30px;
    display: inline;
  }

  #criar-tarefa {
    width: 150px;
    height: 30px;
    font-size: 12px;
    margin-top: 19px;
  }

  #addTask {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  #tasks {
    background-color: rgba(85, 44, 68, 0.068);
    color: rgb(12, 32, 88);
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    font-family: 'blueberry', Arial, sans-serif;
  }

  #instrucoes {
    width: 100px;
    height: 30px;
    font-size: 12px;
    margin-top: 19px;
    margin-left: 7px;
  }

  #areabtn {
    width: 90%;
    margin-left: 5%;
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  #apagaTudo {
    font-size: 12px;
    background-color: brown;
    color: white;
  }

  #remover-finalizados {
    font-size: 12px;
    background-color: rgb(201, 107, 0);
    color: white;
  }

  #salvar-tarefas {
    font-size: 12px;
    background-color: rgb(0, 100, 13);
    color: white
  }

  #mover-cima {
    font-size: 12px;
    background-color: rgb(3, 3, 155);
    color: white;
  }

  #mover-baixo {
    font-size: 12px;
    background-color: rgb(3, 3, 155);
    color: white;
  }

  #remover-selecionado {
    font-size: 12px;
    background-color: rgb(201, 107, 0);
    color: white;
  }

  #apaga-tudo {
    background-color: brown;
    color: white;
  }
}

@media screen and (max-width: 850px) {
  @font-face {
    font-family: 'Signatera';
    src: url('font/Richard\ Signatera.ttf') format('truetype');
  }

  @font-face {
    font-family: 'blueberry';
    src: url('font/Blueberry\ Days.ttf') format('truetype');
  }

  body {
    background-image: url("images/background.png");
    background-size: 250%;
    background-attachment: fixed;
  }

  .selected {
    background-color: rgb(50, 167, 145);
    color: white;
    cursor: pointer;
  }

  #cabecalho {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.24);
  }

  #rodape a {
    background-color: rgba(50, 167, 146, 0.678);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 10px;
    width: 100%;
    height: 45px;
    padding-top: 10px;
    position: static;
    bottom: 0;
    left: 0;
    position: relative;
  }

  .completed {
    text-decoration: line-through;
  }

  .container-fluid,
  #cabecalho,
  #navbar {
    background-color: rgb(247, 247, 247);
  }

  #title {
    margin-left: 10px;
    font-size: 35px;
    color: rgb(50, 167, 145);
    font-family: 'Signatera', Arial, sans-serif;
    display: inline;
  }

  #texto-tarefa {
    margin-top: 20px;
    max-width: 300px;
    height: 30px;
    display: inline;
    margin-left: 3%;
  }

  #criar-tarefa {
    width: 250px;
    height: 30px;
    font-size: 12px;
    margin-top: 19px;
  }

  #addTask {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  #tasks {
    background-color: rgba(85, 44, 68, 0.068);
    color: rgb(12, 32, 88);
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    font-family: 'blueberry', Arial, sans-serif;
  }

  #instrucoes {
    width: 100px;
    height: 30px;
    font-size: 12px;
    margin-top: 19px;
    margin-left: 7px;
    margin-right: 3%;
  }

  #areabtn {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  #apagaTudo {
    font-size: 12px;
    background-color: brown;
    color: white;
    margin-top: 2px;
  }

  #remover-finalizados {
    font-size: 12px;
    background-color: rgb(201, 107, 0);
    color: white;
    margin-top: 2px;
  }

  #salvar-tarefas {
    font-size: 12px;
    background-color: rgb(0, 100, 13);
    color: white;
    margin-top: 2px;
  }

  #mover-cima {
    font-size: 12px;
    background-color: rgb(3, 3, 155);
    color: white;
    margin-top: 2px;
  }

  #mover-baixo {
    font-size: 12px;
    background-color: rgb(3, 3, 155);
    color: white;
    margin-top: 2px;
  }

  #remover-selecionado {
    font-size: 12px;
    background-color: rgb(201, 107, 0);
    color: white;
    margin-top: 2px;
  }

  #apaga-tudo {
    background-color: brown;
    color: white;
    margin-top: 2px;
  }