body {
  background: linear-gradient(123.66deg, #003be5 12.08%, #00d5e2 86.52%);
  height: 630px;
  position: relative;
  width: 1280px;
}

.login {
  background: white;
  border-radius: 20px;
  box-shadow: 1px 1px 26px rgba(68, 73, 85, 0.2);
  height: 350px;
  left: 290px;
  position: absolute;
  top: 135px;
  width: 750px;
}

.input-entrar {
  border: 1px solid #003be5;
  border-radius: 100px;
  box-sizing: border-box;
  height: 40px;
  left: 175px;
  position: absolute;
  text-align: center;
  top: 200px;
  width: 400px;
}

.button-entrar {
  background: #00d5e2;
  border-radius: 100px;
  height: 40px;
  left: 175px;
  position: absolute;
  top: 250px;
  width: 400px;
}

.txtBtn {
  color: white;
}

.logo {
  left: 43%;
  position: absolute;
  top: 35px;
  width: 100px;
}

.logoTxt {
  color: #00d5e2;
  margin-top: 130px;
  text-align: center;
}
