#about {
  height: 600px;
  display: grid;
  place-items: center;
  background-color:#08001b;
  z-index: 2;
}

.card-about {
  width: 1085px;
  height: 254px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
  display: grid;
  place-items: center;
  margin: 40px 40px;
  box-shadow: 0px 0px 30px 1px #3700ff5e;
}

.card2-about img {
  width: auto;
  height: 100%;
}

.card2-about {
  width: 1085px;
  height: 254px;
  background-color: #1a1a1a;
  border-radius:10px;
  transition: all .2s;
}

.card2-about:hover {
  width: 1075px;
  height: 244px;
  border-radius: 20px;
}

.card-about:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.about-text {
  color: #3bd9d9;
  position: relative;
  top: -230px;
  padding-right: 20px;
  padding-left: 20px;
  width: 750px;
  display: grid;
  float: right;
}

.card-title-about {
  margin-top: 15px;
  margin-right: 20px;
  margin-left: -70px;
}

.card-text-about {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: -70px;
  text-align: justify;
  min-height: 145px;
  font-family:Arial, Helvetica, sans-serif;
}
