#Metricas {
  height: 500px;
  display: grid;
  align-items: center;
  position: relative;
  background-color: #07162ecc;
  background: radial-gradient(rgba(0, 19, 46, 0.404), rgb(0, 0, 0)), url('../../public/images/background.jpg') center center no-repeat fixed;
  top: 100px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 6rem;
  width: auto;
}

.githubCard {

  padding-left: 200px;
}