* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Brush';
  src: url('../../public/Font\ Brush\ -\ Brush\ Font.ttf') format('truetype');
}

.card {
  margin-top: 50px;
  margin-left: 24px;
  min-height: 240px;
  left: 8px;
  float: left;
  width: 346px;
  color: rgb(36, 36, 36);
  border-radius: 19px;
  background: #ffffff;
  box-shadow:  7px 7px 23px #e3e3e3,
              -7px -7px 23px #ffffff;
}

.Project {
  background-color: white;
  position: absolute;
  padding-left: 90px;
  width: 100%;
  min-height: 1700px;
  padding-bottom: 200px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.267)
}

.titleProject {
  margin-bottom: -70px;
  margin-left: -100px;
  font-size: 45px;
  font-weight: 500;
  rotate: -4deg;
  font-family: 'Brush', Arial, sans-serif;
  text-shadow: 0.1em 0.1em 0.2em rgba(126, 52, 161, 0.521);
}

.card-text {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: -70px;
  text-align: justify;
  min-height: 168px;
  font-family:Arial, Helvetica, sans-serif;
}

.card-title {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: -70px;
}

#card-text-project {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#title-Projects-Div {
  text-align: center;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 250px;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
