.background {
  background: url("background.gif") no-repeat center;
  position: relative;
}

#rodape h5 {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.74);
  padding-top: 10px;
  padding-bottom: 12px;
  margin: -8px;
  margin-top: 25px;
}

.barra-numeral {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@font-face {
  font-family: 'Neon Led Light';
  src: url('NEONLEDLight.otf') format('truetype');
}

#title {
  text-align: center;
  font-size: 80px;
  font-family: 'Neon Led Light';
  src: url('NEONLEDLight.otf') format('truetype');
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

#color-palette {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.color , .selected {
  border: 1px solid black;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 10%;
}

.select {
  border: 1px solid black;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 10%;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#pink {
  background-color: pink;
}

.areaOfUse {
  display: flex;
  justify-content: center;
}

#pixel-board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}

.pixel {
  border: 1px solid black;
  background-color: white;
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 10%;
}

#clear-board {
  background: white;
  justify-content: center;
  width: 80px;
  margin-bottom: 20px;
  margin-left: 45%;
}

.background {
  margin-left: -5px;
  margin-top: -20px;
  position:fixed;
  z-index: -999;
  height: 100%;
  width: 100%;
  scale: 170%
}
