@media screen and (min-width: 1000px) {
  @font-face {
    font-family: 'HarryP';
    src: url('HARRYP__.TTF') format('truetype');
  }
  
  body {
    margin: 0%;
    padding: 0%;
  }

  .header {
  position: fixed;
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 75px;
  width: 100%;
}

.trybewarts-header-logo {
  margin: 10px;
  height: 55px;
  margin-left: 30px;
}

.trybewarts-login {
  display: flex;
  margin-top: 18px;
  margin-bottom: 15px;
  margin-left: 45%;
  height: 35px;
  width: 35%;
}

#email {
  margin-right: 10px;
}

#btn-entrar {
  margin-left: 10px;
  margin-right: 10px;
}

#trybewarts-header-title {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 50px;
  font-family: 'HarryP', Arial, sans-serif;
}

main {
  display: flex;
  padding-top: 50px;
}

#evaluation-form {
  display: flex;
  justify-content: center;
  width: 675px;
  flex-direction: column;
  margin: 50px;
  padding: 20px;
  background-color: rgba(50, 167, 146, 0.781);
  border-radius: 1%;
  color: white;
}

.familyColumn {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 30px;
}

#section12e13 {
  display: flex;
}

#trybewarts-forms-logo {
  height: 400px;
}

#imagem {
  display: block;
  margin: 0px auto;
  margin-top: 10%;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#input-email {
  height: 30px;
  margin-right: 5px;
}

#house {
  width: 100%;
  height: 30px;
  color: black;
  margin-bottom: 20px;
}

.comment {
  height: 100px;
  width: 100%;
}

.rodape {
  background-color: rgb(50, 167, 145);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 15px;
  bottom: 0;
  width: 100%;
  height: 45px;
  padding-top: 10px;
}

.note {
  margin: 20px;
}

#label-infos {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

#submit-btn {
  width: 200px;
}
}

@media screen and (min-width: 320px) and (max-width: 980px) {
  @font-face {
    font-family: 'HarryP';
    src: url('HARRYP__.TTF') format('truetype');
  }
  
  body {
    margin: 0%;
    padding: 0%;
  }

  .header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 240px;
  width: 100%;
}

.trybewarts-header-logo {
  margin: 10px;
  height: 55px;
  margin-left: 30px;
}

.trybewarts-login {
  margin-left: -230px;
  margin-right: 30px;
  display: inline-block;
  position: relative;
  margin-top: 90px;
  width: 100%;
}

#email {
  margin-right: 10px;
  margin-bottom: 10px;
}

#btn-entrar {
  margin-left: 10px;
  margin-top: 10px;
}

#trybewarts-header-title {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 50px;
  font-family: 'HarryP', Arial, sans-serif;
}

main {
  display: flex;
  padding-top: 50px;
}

#evaluation-form {
  display: flex;
  justify-content: center;
  width: 675px;
  flex-direction: column;
  margin: 50px;
  padding: 20px;
  background-color: rgba(50, 167, 146, 0.781);
  border-radius: 1%;
  color: white;
}

.familyColumn {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 30px;
}

#section12e13 {
  display: flex;
}

#trybewarts-forms-logo {
  height: 400px;
  position: fixed;
}

#imagem {
  display: block;
  margin: 0px auto;
  margin-top: 10%;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#input-email {
  height: 30px;
  margin-right: 5px;
}

#house {
  width: 100%;
  height: 30px;
  color: black;
  margin-bottom: 20px;
}

.comment {
  height: 100px;
  width: 100%;
}

.rodape {
  background-color: rgb(50, 167, 145);
  color: white;
  display: flex;
  justify-items: center;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 45px;
  padding-top: 10px;
}

.note {
  margin: 20px;
}

#label-infos {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  width: 80%;
}

#submit-btn {
  width: 200px;
}
}
