.App {
  text-align: center;
}

body {
  margin: 0px;
}

@font-face {
  font-family: SpaceFont;
  src: url(space\ age.ttf)
}

@font-face {
  font-family: Future;
  src: url(moon_get-Heavy.ttf)
}

.header {
  text-align: center;
  color: azure;
  background-image: url(images/background.jpg);
  margin-top: -1px;
  height: 60px;
  padding-top: 20px;
  font-family: SpaceFont;
}

.titleH2 {
  text-align: center;
  font-family: Future;
  margin-bottom: 50px;
  background-color: white;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #12122b;
}

.cardPlanet{
  padding-top: 50px;
  margin-top: -20px;
  padding-bottom: 80px;
  text-align: center;
  position: relative;
  background-color: #ffffff;
}

.cardIdividual {
  display: inline-block;
}

.cardIdividual img {
    max-width: 150px;
}

.Missions {
  background-color: #12122b;
  box-shadow: rgb(59, 59, 59) 0px -1px 20px;
  padding-top: 10px;
  text-align: center;
  position: relative;
}

.missionCards {
  background-color: rgb(255, 255, 255);
  box-shadow: #71719e 0px 1px 10px;
  border-radius: 10px;
  margin: 20px;
  width: 350px;
  padding: 10px;
  padding-left: 20px;
  display: inline-block;
}
